@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-screen {
  background-image: url("./assets/trama3.svg");
  background-size: 25%;
  background-repeat: repeat;
} */

@layer components{
  .btn{
    @apply text-white outline-none font-medium rounded-lg text-xl px-5 py-4
     text-center flex justify-center items-center
  }
  .btn:hover{
    @apply bg-[#8E8E8D]/80 text-white
  }
  .btn-primary{
    @apply bg-[#1e73be]
  }
  .btn-secondary{
    @apply bg-black/90
  }
  .btn-green {
    @apply bg-apple_green text-black text-xl
  }
  .btn-black-medium{
    @apply bg-zinc-900 text-apple_green ring-1 text-xl ring-apple_green/20
  }
  .btn-black{
    @apply bg-zinc-900 text-zinc-200 ring-1 text-xl ring-zinc-600
  }
  .btn-blue90{
    @apply bg-turquoise_blue/90 text-black text-xl
  }
  .btn-yellow{
    @apply bg-[#fd0] text-black
  }
}